{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block title %}Mes produits{% endblock %}

{% block body %}
        <div>
            <div id="mapBox-map" style='width: 100%; height: 500px;'></div>
        </div>
        <div class="">
            {% for product in products %}
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                <p>{{ product.address.latitude }}</p>
            {% endfor %}
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
{#    {{ encore_entry_script_tags('ajax') }}#}
    <script type="text/javascript">
        // Définition de l'objet Locations via un constructeur
        function Location(title, price, lat, lng) { this.title = title; this.price = price; this.lat = lat; this.lng = lng;
        }
        let locations = [];
        {% for product in products %}
        locations.push(new Location(
            "{{ product.title|escape('js') }}",
                {{ product.price }},
                {{ product.address.latitude }},
                {{ product.address.longitude }},
        ));
        {% endfor %}

        // TO MAKE THE MAP APPEAR YOU MUST // ADD YOUR ACCESS TOKEN FROM
        // mapboxgl.accessToken = 'pk.eyJ1IjoiZi10dWZmIiwiYSI6ImNrbWI0dnQzdzE0ODIydnBoOW5uMGw4ZXUifQ.-7cgcpBp7TUjYuCspjT04w';
        mapboxgl.accessToken = '{{ token_mapbox_gl }}';
        let map = new mapboxgl.Map({
            container: 'mapBox-map', // container id
            // style: 'mapbox://styles/mapbox/streets-v11', // style URL
            style: 'mapbox://styles/f-tuff/ckmb53dzjgyag17rya1py99ze', // style URL
            center: [-6, 45], // starting position [lng, lat]
            zoom: 3 // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.FullscreenControl());
        // locations.forEach(location => new mapboxgl.Marker().setLngLat([location.lng,location.lat]).addTo(map));
        locations.forEach( function (location) {
            new mapboxgl.Marker()
                .setLngLat([location.lng,location.lat])
                .addTo(map);
        });
    </script>
{% endblock %}
