{% extends 'base.html.twig' %}
{% block title %}Welcome !{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block body %}
        <div>
            <div id="mapBox-map" style='width: 100%; height: 500px;'></div>
        </div>
        <div class="">
            {% for product in products %}
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                <p>{{ product.address.latitude }}</p>
            {% endfor %}
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
{#    {{ encore_entry_script_tags('ajax') }}#}
    <script type="text/javascript">
        // Définition de l'objet Location via un constructeur
        function Location(title, price, lat, lng) { this.title = title; this.price = price; this.lat = lat; this.lng = lng;
        }
        let locations = [];
        {% for product in products %}
        locations.push(new Location(
            "{{ product.title|escape('js') }}",
                {{ product.price }},
                {{ product.address.latitude }},
                {{ product.address.longitude }},
        ));
        {% endfor %}
        let token_mapbox_gl = '{{ token_mapbox_gl }}';
    </script>
    {{ encore_entry_script_tags('mapboxGlJs') }}
{% endblock %}
